body {
    font-family: sans-serif;
    color: black;
    background-color: #fff;
    font-size: 80.5%;
}

header {
    margin: 0 auto;
    background-color: #000;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px; 
}

header p{
    color:#fff;
}

h1 {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.navigation {
    list-style-type: none;
    display: flex;
    width: 100%;
}
  
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
  
nav a:hover {
    border: 1px solid white;
    color: black;
    background-color: white;
}

ul {
    padding: 0;
    flex-direction: column;
}

li {
    margin-bottom: 10px;
    list-style: none;
}

main {
    margin: 0 auto;
    padding: 10px 0;
}

.hero{
    position: relative;
}

.hero img{
    width: 100%;
    height: auto;
}

.call{
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid black;
    padding: 13px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.call a{
    color: #fff;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
  
.card-title {
    font-size: 30px;
}

.card h2{
    background-color: #db8f14;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}
  
.card-content {
    font-size: 16px;
    line-height: 1.5;
}
.card li{
    list-style: none;
    padding-left: 0;
    margin-left: 2rem;
}

.card ul {
    margin-bottom: 0;
}

.card a {
    color: #2d72d2;
    font-weight: 700;
    text-decoration: none;
}

.card p{
    text-align: center;
}

h3{
    display: none;
}

.spotlights {
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
  
.spotlights-title {
    font-size: 30px;
}

.ad{
    border-radius: 8px;
}

.spotlights h4{
    background-color: #db8f14;
    text-align: center;
    padding: 5px;
    margin-top: 0;
}
  
.spotlights-content {
    font-size: 16px;
    line-height: 1.5;
}
.spotlights li{
    list-style: disc;
    padding-left: 0;
    margin-left: 2rem;
}

.spotlights ul {
    margin-bottom: 0;
}

.spotlights a {
    display: flex;
    color: #2d72d2;
    font-weight: 700;
    justify-content: center;
}

.spotlights p{
    text-align: center;
}

iframe{
    width: 100%;
    align-items: center;
}

footer{
    padding: 10px;
    background-color: #db8f14;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
}

#menu{
    text-align: left;
    display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: black;
	color: white;
    width: max-content;
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	text-align: left;
    background-color: black;
	font-weight: 500;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/*...............................................................................*/

picture img{
    max-width: 390px;
    height: auto;

}

.main{
    justify-content: center;
    
}

/*-------------------------FORM-----------------------*/

.chamber{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    color: #db8f14;
    font-weight: 700;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    font-size: 17px;
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form input.submitBtn{
    font-weight: 600;
    font-size: 17px;
    border: none;
    background-color: #db8f14;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
    background-color: rgb(211, 242, 211);
}

.thanksMessage{
    grid-column: 1/3;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 100px;
    height: 150px;
}

.membership-benefits {
    display: none;
}