body {
    font-family: sans-serif;
    color: #333;
    background-color: #fff;
    font-size: 80.5%;
}

header {
    background-color: #83C5BE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    gap: 7px;
}

img {
    width: 100px;
    height: 120px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 19px;
    margin: 0;
}

h2{
    font-size: 20px;
    grid-column: 1/3;
    border-bottom: 1px solid black;
}


nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid white;
    color: black;
    background-color: white;
}

.active{
    color: #83C5BE;
}

main { 
    padding: 10px 0;
    width: 95%;
    margin-inline: auto;
}

.hero {
    position: relative;
}

.hero picture{
    width: 100%;
    align-items: center;   
}

.hero img{
    width: 100%;
    height: auto;
}

.herolabel{
    background-color: #c7d193;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.herolabel p{
    font-size: 8px;
    font-family: cursive;
    font-weight: bolder;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.card-title {
    font-size: 30px;
}

.card h3{
    background-color: #83C5BE;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}

.card li{
    margin-bottom: 8px;
    list-style: disc;
    padding-left: 0;
}

.card a {
    color: #1151ab;
    font-weight: 700;
}

.card p{
    text-align: center;
}

.card ul{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

ul {
    padding: 0;
}
  
li {
    margin-bottom: 0;
}

iframe{
    width: 100%;
    padding-top: 15px;
}

footer{
    padding: 5px;
    background-color: #83C5BE;
    margin: 0 auto;
	max-width: 1050px;
    text-align: center;
}

footer p{
    color: #000;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
}

.dark{
    background-color: #242424;
    color: #fff;
}

.dark .card{
    color: #000;
    background-color: #ffffff80;
}

#menu{
    display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: black;
	color: white;
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	text-align: left;
    background-color: black;
	font-weight: 500;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

