@media screen and (min-width: 768px) 
{
  nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}
  
  main {
    column-count: 2;
  }
  
  .card {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}