/* Mobile View ***************/

#menu {
    display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: black;
	color: white;
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	text-align: left;
    background-color: black;
	font-weight: 500;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

@media only screen and (min-width: 40em) {

	.navigation {
    display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}
  
	#menu {
		display: none;
	}
}